*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.intro{
    font-size:40px;
    text-align:center;
}
.circle {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    overflow: hidden;
}

/* ===============================================
# message
=============================================== */
.message{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.message__title{
    font-size: 50px;
    text-align: center;
    font-family: 'Signika Negative';
}
.message__text{
    font-size: 18px;
    text-align: center;
    font-family: 'Signika Negative';
    margin-top: 24px;
}
/* ===============================================
# circle
=============================================== */
.gradient-circle-container{
    max-width: 580px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 40px;
    z-index: -1;/*テキストを選択できるように */
    transform-origin: center center;
}
.gradient-stroke-circle {
    fill: none;/* 塗りつぶしをなしにする */
    stroke-width: 50;/* 円の線の太さ50 */
    stroke-dasharray: 1060 1413;/* 円の線のスタイルを指定。ここでは、線を75%(1060)と円周を(1413)に設定 */
    stroke-linecap: round;/* 円の線端を丸くする */
    /* transform: rotate(-90deg); /* 円を-90度回転させる 反転させたいときに使用 */
    transform-origin: center center; /* 回転の中心点を円の中心に設定 */
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #34496a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #webgl {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: -1;
  }
  
  #webgl2 {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
  }
  
  #bg-box {
    width: 802px;
    height: 602px;
    position: absolute;
    z-index: -1;
  }
  
  .svg-box {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: 1;
  
    #robot {
      cursor: pointer;
    }
  }